<html>

  <head>
    <title>The Gossip Project</title>
  </head>

  <body>
    <h1>La Team du Gossip Project !</h1><br><br>
    <p>Salut tout le monde! Moi c'est Jade</p>
    <p>Hi guys !  I'm Grégoire! </p>
    

  </body>

</html>