<html>

  <head>
    <title>The Gossip Project</title>
  </head>

  <body>
    <div class="jumbotron">
      <h1 class="display-4">Découvre la Team the Gossip Project!</h1>
    </div>

    
    <p>Hello ! My name is Jade !</p>
    <p>Hi guys !  I'm Grégoire! </p>
    

  </body>

</html>