<html>

  <head>
    <title>The Gossip Project</title>
  </head>

  <body>
  <div class="jumbotron">
    <h1 class="display-4"> Envie de nous contacter ? </h1>
  </div>
   
    <p>Pour nous contacter : ouvrez Slack et cherchez JadeCaillot ou GregoireAubert</p><br>
       

  </body>

</html>