<html>

  <head>
    <title>The Gossip Project</title>
  </head>

  <body>
    <h1>Contacter la fine équipe !</h1><br><br>
    <p>Pour nous contacter : ouvrez Slack et cherchez JadeCaillot ou GregoireAubert</p><br>
       

  </body>

</html>